a {
	display: block;
	text-align: center;
	padding: 4px;
	font-weight: bold;
	background: #0006CC;
	width: 500px;
	color: #ffffff;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 10px;
}
a:hover{
	background: #B3B3B3;
	color: #0006CC;
}
a:focus{
	background: #B3B3B3;
	color: #0006CC;
}
a:active{
	border: 3px solid #000000;
}
ol{
	list-style-type: upper-alpha;
}
ul{
	list-style-type: square;
	margin-bottom: 50px;
}
nav a{
/*	background: #0000FF;*/
	display: inline-block;
    text-align: center;
    width: 20%;
    margin-right: 2%;
    color: #FFFFFF;
    border-radius: 5px;
    background: linear-gradient(#00b7ea 0%, #D2F4F8 100%);
}
.myName{
   background: #0FFF00;
   color: #000000;
   text-transform: uppercase;
}